{% extends 'base.html.twig' %}


{% block title %}Bienvenue sur Astro-photo{% endblock %}
{% block classBody %}home {% endblock %}
{% block body %}
    {{ form_start(form) }}
    <h1>Rechercher une image</h1>
    {{ form_widget(form.name) }}
    <button type = "submit" class="btn btn-info">Rechercher</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
<script>
    $('form input').on("click",function(){
        $('form').addClass('appear');

    })
    $('body').on("mouseup",function(){
        $('form').removeClass('appear');

    })
</script>

{% endblock %}

