{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}
{% block classBody %}home {% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    <button type = "submit" class="btn btn-info">Rechercher</button>
    {{ form_end(form) }}
{% endblock %}
