{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block classBody %} search {% endblock %}

{% block body %}
    {% if searchImage|length == 0 %}
    <p>Aucune image ne porte ce tag</p>
    {% else %}
        {% for result in searchImage %}
        <p> <img src="{{ result.name }}"> </p>
        <p> {{ result.title}} </p>
            {% for displayTags in result.tags %}
            <p> {{ displayTags.name}} </p>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}