@import url('https://fonts.googleapis.com/css?family=Exo+2:500,700&display=swap');

p,
a,
h1,
h2,
h3,
h4,
h5,
li,
figcaption,
label,
td,
th,
button {
    font-family: 'Exo 2', sans-serif;

}

@keyframes slideBg {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

@keyframes slidelogo {
    from {
        bottom: 0;
    }

    to {
        bottom: -30px;
    }
}

@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-5px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-5px)
                rotate(-360deg);
    }
  }

/*START PAGINATION*/

.pagination{
    justify-content: flex-end;
    margin-right: 20px;
}

div.navigation{
    margin-top: 50px;
    width: 100%;
}

.pagination .page-item.disabled .page-link,.pagination .page-item .page-link{
    background-color: transparent;
    border: 1px solid transparent;
    color: #007bff;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}

.pagination .page-item.disabled .page-link:hover,.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:hover{
    color:#00dde1
}

.pagination .page-item.active .page-link{
    border-bottom: 1px solid;
}
/*END*/


body {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main {
    flex: 1;
}

body:not(.home) {
    min-height: 100vh;
}

.user, .admin {
    background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal;
    background-repeat: no-repeat;
    background-size: cover;
}

body:not(.home) header{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 20px;
}

header nav,
header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
    margin: 0;
}

header nav p {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 3rem;
}

header nav p img {
    max-width: 100%;
    position: absolute;
    animation: slidelogo 5s linear infinite alternate;
}

header nav ul {
    flex: 1;
}

header nav div.hamburger{
    display: none !important;
    position: absolute;
    right: 20px;
    width: 32px;
    height: 27px;
    bottom: 50%;
    transform: translateY(60%);
}

nav .line{
    width: 32px;
    height: 2px;
    background-color: #FFF;
    position: absolute;
    transform: rotate(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.03s;
}

nav .line2{
    top:11px
}

nav .line3{
    top:22px
}

header nav ul li {
    list-style-type: none;
}

header nav li a {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
    position: relative;
}

header nav li a.homepage {
    background-image: url("asset/icons/earth.svg");
}

header nav li a.register {
    background-image: url("asset/icons/register.svg");
}

header nav li a.connexion {
    background-image: url("asset/icons/connexion.svg");
}

header nav li a.contact {
    background-image: url("asset/icons/contact.svg");
}

header nav li a.logout {
    background-image: url("asset/icons/logout.svg");
}

header nav li a.profile {
    background-image: url("asset/icons/dashboard.svg");
}

header nav li a span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #FFF;
    text-decoration: none;
    opacity: 0;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    filter: invert(1);
}

header nav li a:hover span,
header nav li a.active span {
    left: 60px;
    opacity: 1;
}

/*Homepage*/

.home {
    height: 100vh;
    margin: 0;
    background-image: url("asset/bgHome.jpg");
    animation: slideBg 40s linear infinite alternate;
}

header nav li a {
    filter: invert(1);
}

section.main {
    position: relative;
}

.connexion section.main form,
.registration section.main form,
.home form , 
.contact form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.home section.main form h1 , .contact form h1{
    color: #FFF;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

section.main form:hover,
section.main form:hover .btn,
section.main form:hover h1,
section.main form.appear,
section.main form.appear .btn,
section.main form.appear h1
{
    opacity: 1 !important;
}

.home section.main form input {
    border-radius: 100px;
}

.home section.main form .btn {
    margin-top: 2em;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.search{
    background: linear-gradient(120deg, #4B0000 0%, #000000 100%), linear-gradient(300deg, #1E0000 0%, #0038FF 100%, #0038FF 100%), linear-gradient(65deg, #00FFFF 0%, #FF00A8 100%), linear-gradient(185deg, #FF0000 10%, #1400FF 95%), radial-gradient(100% 140% at 100% 0%, #00A3FF 0%, #C10097 100%);
    background-blend-mode: color-dodge, overlay, difference, color-dodge, normal;
    background-size: cover;
    background-repeat: no-repeat;
}

.search h3{
    text-align: center;
}

.search form{
    margin: 40px auto;
    width: 50%;
    display: flex;
    position: sticky;
    top:5px;
    z-index: 999;
}
.search form input, .search form .btn{
    margin-right: 30px;
    box-shadow:
  0 1.7px 1.4px rgba(0, 0, 0, 0.016),
  0 3.9px 3.1px rgba(0, 0, 0, 0.023),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 10.3px 8.2px rgba(0, 0, 0, 0.033),
  0 15.2px 12.2px rgba(0, 0, 0, 0.037),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 33.5px 26.8px rgba(0, 0, 0, 0.047),
  0 53.4px 42.7px rgba(0, 0, 0, 0.054),
  0 100px 80px rgba(0, 0, 0, 0.07)
}

.no-result{
    text-align: center;
}

.no-result img{
    max-width: 100%;
    height: 300px;
}

.no-result p{
    color: #FFF;
    font-size: 25px;
    letter-spacing: 1px;
}

/*Registration Connexion*/

.registration {
    background-image: url("/asset/registration.jpg");
    background-size: cover;
}

.registration form,
.connexion form {
    text-align: left !important;
    top: 40% !important;
}

.registration form .btn {
    background-color: #c76924;
    border-color: #efce8b;
}

.registration form label,
.connexion form label,
.contact form label {
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    width: 100%;
}

.registration form small,
.connexion form small {
    color: #FFF !important;
    font-size: 90%;
}

.registration form button,
.connexion form button {
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF
}

.connexion form h1,
.registration form h1 {
    color: #FFF;
    text-align: center;
}

.connexion {
    background-image: url("/asset/connexion.jpg");
    background-size: cover;
}

.connexion form .btn {
    background-color: #000;
    border-color: #e5a3a4;
    bottom: -61px !important;
}

.invalid-feedback{
    color: #FFF;
    background-color: #dc3545;
}

/*UserProfile*/

.userProfile {
    background-image: url("/asset/dashboard.jpg");
    background-size: cover;
}

.userProfile .main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.userProfile .info {
    background: rgba(27, 111, 132, 0.58);
    height: auto;
    border-radius: 50px;
    padding: 20px;
    width: 60%;
    position: relative;
}

.userProfile .info h1,
.userProfile .info h2,
.userProfile .info p {
    color: #fff;
    text-align: center;
}

.userProfile p.admin-btn {
    text-align: center;
}

.userProfile p.admin-btn a{
    background: #62CB8E;
    padding: 10px 20px; 
    color: #3A4A40;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.userProfile p.admin-btn a:hover{
    color:#FFF;
}

.userProfile article.dashboard img {
    border: 0;
    padding: 1px;
    height: auto;
    max-height: 150px;
}

.userProfile article.dashboard .images {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.userProfile article.dashboard .last-images {
    display: flex;
    justify-content: space-evenly;
}

.userProfile aside {
    height: 202px;
    width: 200px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    left: -200px;
    position: absolute;
    transition: left 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 0 20px 20px 0;
    border: 1px solid #FFF;
}

.userProfile aside .content,
.userProfile aside ul {
    height: 100%;
}

.userProfile aside ul {
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.25);
}

.userProfile aside img {
    max-width: 100%;
    height: 45px;
    position: absolute;
    transform: rotate(90deg) translate(-50%);
    top: 50%;
    right: -24%;
    cursor: pointer;
}

.userProfile aside.active {
    left: 0;
}

.userProfile aside li {
    position: relative;
    list-style: none;
    margin: 20px 0;
}

.userProfile aside li:before {
    position: absolute;
    content: "";
    top: 0;
    left: -40px;
    width: 20%;
    height: 100%;
    transform: rotateY(175deg);
    background-image: url("/asset/icons/r2d2Color.svg");
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.1s ease-in-out;
}

.userProfile aside li:hover:before {
    opacity: 1;
}

.userProfile aside li a{
    color:#FFF;
    font-size: 16px;
    font-weight: 700;
}

.userProfile aside li a:hover{
    text-decoration: none;
    color: #00dde1;
}


/*User add and edit Images*/

.user .card h5 {
    padding: 8px 8px 0 8px;
    font-weight: 400;
    color: #000;
}

.user .card {
    border:0;
   background-color: #FFF;
}

.user section.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user section.main .form-group {
    display: flex;
    flex-direction: column;
}

.user section.main h1 {
    color: #FFF;
}

.user section.main label {
    color: #FFF;
}

.user section.main .btn {
    width: 100%;
}

.editImage section.main img{
    max-width: 100%;
    height: 100px;
}

/*User Display Images*/

.userImages a:hover{
    text-decoration: none;
    color: #00dde1;
}

.userImages .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-gap: 30px;
    justify-content: center;
}

.userImages .card {
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.userImages .card h5{
    font-size: 15px;
    text-align: center;
}

.userImages .card .delete {
    position: absolute;
    top: 10px;
    right: -100px;
    transition: right 0.3s ease-in-out;
}

.userImages .card .delete img, .userImages .card .edit img{
    max-width: 100%;
    height: 45px;
}

.userImages .card:hover .delete {
    right: 10px;
}

.userImages .card .edit {
    position: absolute;
    top: 10px;
    left: -100px;
    transition: left 0.3s ease-in-out;
}

.userImages .card:hover .edit {
    left: 10px;
}

.userImages .card-body{
    text-align: center;
}

.select2-container {
    width: 570px !important;
}

.userImages p.return{
    position: fixed;
    bottom: 40px;
    left: 0;
}

.userImages p.return img{
    max-width: 100%;
    height: 70px;
}

.userImages section.main h3{
    color:#FFF;
    margin: 40px 0;
}

/*CLOUD TAGS*/

.cloudTags .main{
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    grid-gap: 50px;
}

.cloudTags h1{
    grid-column: 1/5;
}

.cloudTags figure{
    position: relative;
}
.cloudTags figure figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    font-weight: 700;
}

.cloudTags figure img{
    max-width: 100%;
    height: 120px;
}

/*ADMIN*/
.adminProfile section.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminProfile .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.adminProfile .container figure {
    width: 100%;
    text-align: center;
}

.adminProfile .container figure img {
    max-width: 100%;
    height: 370px;
}

.adminProfile .container figcaption {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 20px;
}

.admin .table td, .admin .table th{
    color:#FFF
}

.admin .table .thead-dark th{
    background-color: #0083D5;
    border-color: #00ffe9;
}

.adminUsers section.main, .adminImages section.main{
    display: flex;
    flex-direction: column;
}

.admin section.main form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.admin section.main form label{
    color: #FFF;
}

.admin section.main form button{
    height: 38px;
    margin: 14px 0 0 10px;
}

.admin section.main form .form-group{
    width: 30%;
}

.admin .back-all{
    text-align: center;
    margin-top: 30px;
}

.admin .back-all a{
    color:#FFF;
    background-color:#007bff;
    padding: 15px 20px;
    border-radius: 100px;
    transition: 0.3s ease-in-out;
}

.admin .back-all a:hover{
    text-decoration: none;
    background-color:#0063ce;
}

.admin .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin .navigation img{
    max-width: 100%;
    height: 70px;
}

.admin .navigation .return a:hover{
    text-decoration: none;
    color: #00dde1;
}


/*Contact*/

.contact{
    background-image: url("/asset/contactForm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contact .check-email, .contact .check-name,
.registration .check-name, .registration .check-password,
.addImage .check-title{
    max-width: 100%;
    height: 10px;
    position: absolute;
    bottom: -50px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}

.contact .check-email, .registration .check-name, .addImage .check-title{
    right: 0;
}
.contact .check-nam, .registration .check-password{
    left: 10px;
}

.contact .check-email.active, .contact .check-name.active,
.registration .check-password.active,.registration .check-name.active,
.addImage .check-title.active{
    height: 210px;
    visibility: visible;
}

footer{
    margin-top: 10px;
}

footer p {
    text-align: center;
    color: #FFF
}

footer p a {
    color: #FFF;
    text-decoration: none;
}

/*ERROR*/

.error404{
    background-image: url('asset/error404.jpg');
}

.error403{
    background-image: url('asset/error403.jpg');
    background-position: left;
    background-size: 2200px !important;
}

.error{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error .content p{
    color:#FFF;
    font-size: 1.3rem;
    margin-bottom: 50px;
    text-align:center;
}

.error .content h1{
    color:#FFF;
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 50px;
}

.error .content img{
    max-width: 100%;
    height: 70px;
    text-transform: none;
    animation : circle 2s infinite
}

.error .content a{
    color: #007bff;
    font-size: 1.3rem;
}

.error .content a:hover{
    color: #00dde1;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .userProfile .info{
        width: 100%;
        border-radius: 0;
    }
    body:not(.home) header{
        margin-bottom: 0;
    }

    .userProfile .main{
        flex-direction: column;
    }

    .userProfile aside{
        position: static;
        border:none;
        width: 100%;
        height: 92px;
        border-radius: 0;
        transform: translateY(0);
    }

    .userProfile aside img{
        display: none;
    }

    .userProfile aside ul{
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }

    .userProfile aside li:before{
        display: none;
    }
    
    .userProfile aside li a{
        padding: 10px 20px;
        background-color:#008EFF;
        border-radius: 100px;
    }
}

@media screen and (max-width: 768px){
    header nav ul{
        top: 0;
        right: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        transition: opacity 0.3s ease-in-out;
    }

    header nav{
        justify-content: flex-start;
        position: relative;
    }

    header nav div.hamburger{
        display:block !important;
        z-index: 1000;
    }

    header nav div.hamburger.active .line2{
        opacity: 0;
    }

    header nav div.hamburger.active .line1, header nav div.hamburger.active .line3{
        top:11px ;
    }
    header nav div.hamburger.active .line1{
        transform: rotate(45deg);
    }

    header nav div.hamburger.active .line3{
        transform: rotate(-45deg);
    }

    header nav ul.active{
        height: 100vh;
        right:0;
        width: 100vw;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
        background-color: rgba(0,0,0,0.7);
        z-index: 999;
        padding:0;
    }

    header nav ul.active li, header nav ul.active li a, header nav ul.active li span{
        width: 100%;
        text-align: center;
    }

    header nav ul.active li a{
        background: none;
    }
    header nav ul.active li span{
        position: static;
        opacity: 1;
        font-size:28px;
        font-weight: 700;
    }

    .userImages .card .delete{
        right:10px
    }

    .userImages .card .edit{
        left:10px
    }

    .search form{
        width: 80%;
        position: static;
    }

    .admin section.main form label{
        color: #00000f;
    }
}

@media screen and (max-width: 640px){
    .home form h1{
        font-size: 30px;
    }
    .registration{
        background-position: center;
    }

    .userProfile article.dashboard .last-images{
        flex-direction: column;
        align-items: center;
    }

    .userProfile article.dashboard img{
        margin-bottom: 30px;
    }

    .cloudTags .main{
        padding: 20px;
        grid-template-columns: repeat(3,1fr) !important;
    }
    .cloudTags h1{
        grid-column: 1/4;
    }

    .search form{
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }

    .search form .btn{
        width: 50%;
        margin: auto;
        margin-top: 10px;
    }

    .userImages section.main h3{
        font-size: 24px;
    }

    .admin .navigation{
        flex-direction: column;
    }

    .admin .navigation .return{
        margin-bottom: 20px;
    }

    .admin section.main form{
        flex-direction: column;
    }
    .admin section.main form .form-group{
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .admin section.main form button{
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 540px){
    .user form{
        width: 100%;
        padding: 20px;
    }

    .user .select2-container{
        width: 100% !important;
    }
}

@media screen and (max-width: 480px){
    .home form h1, .contact form h1{
        font-size: 22px;
    }

    .userProfile aside{
        height: auto;
    }

    .userProfile aside ul{
        flex-direction: column;
        align-items: center;
    }

    .userProfile .info p {
        line-height: 27px;
    }

    .admin .page-link{
        padding: 0.5rem 0.45rem;
    }

}

@media screen and (max-width: 380px){
    .registration form label, .connexion form label, .contact form label{
        font-size: 15px;
    }

    .admin .page-link{
        padding: 0.5rem 0.05rem;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 1.5rem;
    }
    .cloudTags .main{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .cloudTags h1{
        grid-column: 1/2;
    }
}
