<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Erreur 403</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body class = "error error403">

    <div class="content">
        <h1>ERREUR <br>403</h1>
        <p>Un champ magnétique vous interdit l'accès à cette page<br> Il serait plus prudent de rentrer à la maison.</p>
        <span class="return"><a href="{{ path('home') }}"><img src="{{asset('/asset/icons/return.svg')}}" title="retour"> Retour à l'accueil</a></span>
    </div>

</body>
    
</html>
       

