{% extends "base.html.twig" %}
{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">{% endblock %}


{% block classBody %}userImages user{% endblock %}

{% block body %}

<div class = "container">

    {% for image in images %}
        {% for tags in image.tags %}
            {% if tags.name == tag %}
                <img src="{{ image.name }}">
            {% endif %}

        {% endfor %}
    {% endfor %}


</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>
{% endblock %}
